* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 20px;
  width: min-content;
  margin-top: 20px;
  padding: 30px 20px;
  border: 5px solid #914d76;

  color: #69353f;
  background-color: #cef7a0;

  text-transform: uppercase;
  font-family: 'Pangolin', cursive;
  font-size: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
